<!DOCTYPE html>
<html lang="{{ DEFAULT_LANG }}">
<head>
    <meta charset="utf-8">
    <title>{% block windowtitle %}{{ SITENAME }}{% endblock %}</title>
    <meta name="description" content="">
    <meta name="author" content="{{ AUTHOR }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
    <script src="{{ SITEURL }}/theme/html5.js"></script>
    <![endif]-->

    <!-- Le styles -->
    <link href="//fonts.googleapis.com/css?family=Ubuntu:400,700|Droid+Serif:400,700italic" rel="stylesheet" type="text/css" />
    <link href="{{ SITEURL }}/theme/bootstrap.min.css" rel="stylesheet">
    <link href="{{ SITEURL }}/theme/bootstrap.min.responsive.css" rel="stylesheet">
    <link href="{{ SITEURL }}/theme/local.css" rel="stylesheet">
    <link href="{{ SITEURL }}/theme/pygments.css" rel="stylesheet">

    <style>
    .content {
      padding-top: 60px;
    }
    @media(max-width: 1199px) {
      .content {
        padding-top: 100px;
      }
    }
    @media(max-width: 980px) {
      .content {
        padding-top: 0px;
      }
    }
    </style>

</head>

<body>

<div class="navbar navbar-default navbar-fixed-top">

    <div class="navbar-inner">
      <img src="{{ SITEURL }}/images/sira-logo.png" style="margin:0; padding:0 position:fixed; top:0px; right:0px; z-index:-1; float:right"/>
    <div class="container">

         <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
             <span class="icon-bar"></span>
             <span class="icon-bar"></span>
             <span class="icon-bar"></span>
         </a>

        <a class="brand" href="{{ SITEURL }}">{{ SITENAME }}</a>

        <div class="nav-collapse">
        <ul class="nav">
        {% for title, link in MENUITEMS %}
            <li><a href="{{ link }}">{{ title }}</a></li>
        {% endfor %}
            
        {% if DISPLAY_PAGES_ON_MENU %}
        {% for page in PAGES %}
            <li><a href="{{ SITEURL }}/{{ page.url }}">{{ page.title }}</a></li>
        {% endfor %}
        {% endif %}
        </ul>
        </div>
        
    </div>
    </div>
</div>

<div class="container">
    <div class="content">
    <div class="row">

        <div class="span9">
        {% block content %}{% endblock %}
        </div>
        
        <div class="span3">

            <div class="well" style="padding: 8px 0; background-color: #FBFBFB;">
            <ul class="nav nav-list">
                <li class="nav-header"> 
                Mailing List
                </li><div class="myform">
                <form style="margin:auto; width:100%" action="http://lists.societyinforisk.org/mailman/subscribe/sira" method="POST">
                  <span style="font-family: 'Droid Serif', serif; font-size:13px">E-mail:</span><br/>
                  <input name="email" type="text" style="width:95%; margin-left:auto; margin-right:auto" /><br/>
                  <input type="submit" value="Sign Me Up!" style="margin-left:auto; margin-right:auto; width:100%" />
                  </form></div>
                  <li><a href="http://lists.societyinforisk.org/mailman/private/sira/">List Archives</a>
            </ul>
            </div>

            <div class="well" style="padding: 8px 0; background-color: #FBFBFB;">
            <ul class="nav nav-list">
                <li class="nav-header"> 
                
                Contact Us
                </li>
            
                <li><a href="{{ SITEURL }}/pages/contact-mgmt.html">Contact the Management Team</a>
                <li><a href="http://lists.societyinforisk.org/mailman/listinfo/sira-cbk">Contact the iRMBOK Team</a>
                <li><a href="{{ SITEURL }}/pages/contact-riskblog.html">Risk Blog Registration</a>
                <li><a href="{{ SITEURL }}/pages/contact-feedback.html">Web Site Feedback</a>
            </ul>
            </div>

            <div class="well" style="padding: 8px 0; background-color: #FBFBFB;">
            <ul class="nav nav-list">
                <li class="nav-header"> 
                Site
                </li>
            
                <li><a href="{{ SITEURL }}/{{ ARCHIVES_URL }}">Site Archives</a>
                <li><a href="{{ SITEURL }}/tags.html">Tags</a>
                <li><a href="/feeds/all.atom.xml" rel="alternate">Atom feed</a></li>
                {% if FEED_RSS %}
                <li><a href="{{ FEED_DOMAIN }}/{{ FEED_RSS }}" rel="alternate">RSS feed</a></li>
                {% endif %}
            </ul>
            </div>


            {% if categories %}
            <div class="well" style="padding: 8px 0; background-color: #FBFBFB;">
            <ul class="nav nav-list">
                <li class="nav-header"> 
                Categories
                </li>
                
                {% for cat, null in categories %}
                <li><a href="{{ SITEURL }}/{{ cat.url }}">{{ cat }}</a></li>
                {% endfor %}                   
            </ul>
            </div>
            {% endif %}

            <div class="well" style="padding: 8px 0; background-color: #FBFBFB;">
              <ul class="nav nav-list">
                  <li class="nav-header"> 
                  SIRA Professional&trade; Membership
                  </li>
                  <li><a href="{{ SITEURL }}/pages/membership.html">Information</a><br/>
              </ul>
            
              <center>
                <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
                	<input name="cmd" type="hidden" value="_s-xclick" /> 
                  <input name="hosted_button_id" type="hidden" value="VWHFF7ZWU9CZW" /> 
                  <input alt="PayPal" border="0" name="submit" src="https://www.paypalobjects.com/en_US/i/btn/btn_buynowCC_LG.gif" type="image" /> 
                  <img border="0" height="1" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" />
                </form>
              </center>
              
            </div>

            {% if LINKS %}
            <div class="well" style="padding: 8px 0; background-color: #FBFBFB;">
            <ul class="nav nav-list">
                <li class="nav-header"> 
                Links
                </li>
            
            {% for name, link in LINKS %}
                <li><a href="{{ link }}">{{ name }}</a></li>
            {% endfor %}
            </ul>
            </div>
            {% endif %}

            <div class="well" style="padding:0; background-color: white;">
            <a class="twitter-timeline" data-dnt="true" href="https://twitter.com/societyinforisk" data-widget-id="468094196478251008">Tweets by @societyinforisk</a>
            <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
            </div>


            {% if SOCIAL %}
            <div class="social">
            <div class="well" style="padding: 8px 0; background-color: #FBFBFB;">
            <ul class="nav nav-list">
                <li class="nav-header"> 
                Social
                </li>
           
                {% for name, link in SOCIAL %}
                <li><a href="{{ link }}">{{ name }}</a></li>
                {% endfor %}
            </ul>
            </div>
            </div>
            {% endif %}

        </div> {# End span3 #} 
    </div> {# End row #}
    </div> {# End content #}

<footer>
<br />
<p><a href="{{ SITEURL }}">{{ SITENAME }}</a> &copy; {{ AUTHOR }} 2014</p>
</footer>

</div> <!-- /container -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
<script src="{{ SITEURL }}/theme/bootstrap-collapse.js"></script>
{% include "analytics.html" %}
{% include "github.html" %} 

</body>
</html>
